doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Retro Future
    //- w3school
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    //- Bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    //- Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    //- Custom fonts for this template
    link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    //- Custom styles for this template
    link(href='css/grayscale.min.css' rel='stylesheet')
    //- Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='/') Retro Future
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='/#about') Search
                if user
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/addPosts') Write  
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/postsList') Posts
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/follow') Follow
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/scrapsList') Cart                      
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/profile') MyPage
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/auth/logout') Logout
                else
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/addPosts' onclick='login()') Write  
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/postsList' onclick='login()') Posts
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='/scrapsList' onclick='login()') Cart   
body
    //- Header
    header.masthead
        .container.d-flex.h-100.align-items-center
            .mx-auto.text-center
              .timeline
                form#join-form(action='edituser' method='post' style='background-color:rgba(255, 255, 255, 0.7); border-radius:10px;')
                 
                  .input-group
                    label(style='margin-right:44px;margin-left:20px;margin-top:20px' ) E-mail
                    input(type='email' name='email' value=`${edituser.email}` style='margin-top:20px; margin-bottom:10px;margin-right:20px')
                  .input-group
                    label(style='margin-right:20px;margin-left:20px;') Nickname
                    input(type='text' name='nick' value=`${edituser.nick}` style='margin-bottom:10px;')
                  .input-group
                    label(style='margin-right:24px;margin-left:20px;' ) Password
                    input(type='password' name='password' style='margin-bottom:20px;')
                  h6(style='') 수정할 정보를 입력해주세요
                  if joinError
                    .error-message= joinError
                  button#join-btn.btn(type='submit' style="margin-bottom:20px;background-color:rgba(85, 85, 85, 1);border-radius:10px;margin-top:20px;color:white") Edit
